@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

/* Estilos globais */
body {
    font-family: 'Inter', sans-serif;
    background-color: #ECE0F5; /* Cor de fundo da página */
    margin: 0;
    padding: 0;
    color: #313131;
}

/* Cabeçalho */
.header {
    background-color: #694F8E; /* Cor de fundo do cabeçalho */
    color: white;
    padding: 13px 18px;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra mais visível */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Necessário para z-index */
    z-index: 15; /* Garante que o cabeçalho esteja acima de outros elementos */
}

/*Estilização do botão darkmode*/
.header nav {
    display: flex;
    justify-content: right;
    flex-grow: 1;/*Permite que o nav crescça para ocupar o espaço disponível*/
    gap: 20px; /* Ajuste o valor para controlar o espaçamento entre os links */
}

.header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 1.01em;
}

label {
    width: 87px;
    height: 38px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.2), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

label::after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 7px;
    left: 10px;
    background: linear-gradient(100deg, #818181, #a3a3a3);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

input {
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked + label {
    background: #242424;
}

input:checked + label::after {
    left: 77px;
    transform: translateX(-100%);
    background: linear-gradient(100deg, #777, #3a3a3a);
}

label:active::after {
    width: 33px;
}

.header h1 {
    margin: 0;
    font-size: 2em;
}

/* Menu de navegação */
.menu {
    background-image: url('/images/pngegg.png'); /* Substitua com o caminho da sua imagem */
    background-size: 1300px 1500px; /* Faz a imagem cobrir todo o menu */
    background-repeat: no-repeat;
    background-position: right 45%; /* Centraliza a imagem no menu */
    position: relative; /* Necessário para o pseudo-elemento ::before */
    padding: 80px 18px;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Aumentada a opacidade da sombra */
    z-index: 10; /* Garante que o menu esteja acima de outros elementos */
}

.menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(182, 146, 194, 0.9); /* Cor roxa com 60% de opacidade */
    z-index: 1; /* Faz a camada roxa ficar sobre a imagem */
}

/* Garante que os links estejam acima da camada roxa */
.menu a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 3.5em;
    font-weight: bolder;
    z-index: 2; /* Garante que o texto esteja acima da camada roxa */
}

.menu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; /* Ajuste para posicionar o sublinhado abaixo do texto */
    width: 100%;
    height: 3px; /* Espessura do sublinhado */
    background-color: currentColor;
    border-radius: 5px; /* Arredondamento das bordas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra do sublinhado */
}

/* Conteúdo principal */
.content {
    padding: 30px;
}

.content h2 {
    font-size: 2.2em;
    color: #545454;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 30px -10px;
}

.content p {
    font-size: 1.2em;
    margin: 20px 18px;
}

/* Estilo da imagem */
.content img {
    max-width: 100%; /* Para a imagem ocupar no máximo a largura do contêiner */
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra da imagem */
}

/* Rodapé (Opcional) */
/*
.footer {
    background-color: #694F8E; /* Cor de fundo do rodapé 
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
*/

.footer p {
    margin: 0;
}
